    
body{
  background-image:linear-gradient(to right,#00316E,#800000);

}

.vl{
  border-left: 3px dotted white;
  height: 100vw;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}


.hl{
  border-top: 3px dotted white; 
  width: 100vw; 
  position: absolute; 
  top:11.75em; 
}


#howtoplayheader, #pieceheader{
  color: white;
  font-family: 'MedievalSharp', cursive;

  
}

#howtoplayheader{
  position: absolute; 
  left: 90px;
  top:100px; 
}

#pieceheader{
  position: absolute; 
  right:170px; 
  top:100px; 
  font-size: 3.25em; 
}


#howtoplayparagraph, #piecesparagraph{
  color: white;
  font-family: 'MedievalSharp', cursive;
  font-size: 1em;
  }
  
  
  #howtoplayparagraph{
  text-align: left;

  
  }
  
  #piecesparagraph{
    text-align: justify;  
    text-align-last: right;
    align-items: right;

  
  
    
  }

  .description-wrapper-1{
    width: 50%; 
  }
  .description-wrapper-2{
    width: 50%; 
  }




/*do not delete the stuff below here AKSHAY AGARWHALE*/



.buttons, .buttons-1 {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  vertical-align: top; 
 /*margin-top: -15px; */
  width: 100%;
  height: 100%;
  
  
/*   padding: 2em 0em; */
}

.container {
  align-items: left;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0px;
  margin-top: -15px; 
  
  padding:  40px 0px;
  width: 240px;
}

.container-1{
  align-items: right; 
  display:flex; 
  flex-direction: column; 
  text-align: center; 
  margin-right: 0px; 
  margin-top: -15px; 
  padding: 40px 0px; 
  width: 240px; 
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #00316E;
  box-shadow:0px 0px 0px 4px #000 inset;
  background-color: #00316E;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #800000;
  background-color: #00316E;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #FFF;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

